.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #F7941D;
    color: white;
    border: 1px solid #F7941D;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.new-price{
    font-size: 30px;
    font-weight: 500;
    color: #e74c3c;}
.old-price{
    color: #7f8c8d;
    text-decoration: line-through;
    font-size: 20px;
}
.sub-product i{
    font-size: 20px;
}
.sub-product{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.mua-ngay form{
    display: flex;
    justify-content: center;
}
.mua-ngay input{    width: 40px; margin-right: 20px;}
.mua-ngay button{    border-radius: 30px;}
.sanphamgoiy{padding-top: 20px;}
.cat-nav-head .icon-search{padding-top: 2px;}
.top-bettwen .list-main li{
    text-align: center;
    width: 100%;
}
/*slider*/
.carousel-inner{
    width: 100%;
}
.carousel-inner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.slick-tieu-chi img{
    margin: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px #cacacad1;
}
.banner-tieu-chi{padding: 0px 10px;}
.container-tc{text-align: -webkit-center;}

.bai-viet{
    padding: 10px;
}
.slick-bai-viet{
    margin: -10px;
}
.height367{
    display: block;
    object-fit: cover;
    height: 367px !important;
}

.album{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    cursor: pointer;
}
.album .album-img{

    height: 240px;

    width: 100%;
}
.album .album-img img{

    height: 100%;

    width: 100%;

    object-fit: cover;
}
.album .album-img:nth-child(1),.album .album-img:nth-child(3){
    grid-row: span 2;
    height: 100%;
}
.text-split-2{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.text-split-3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp:3;
}
.text-split-4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp:4;
}
.text-split-1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}
/*===========PHAN TRANG*/
.paginate-styling{
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
}
.paginate-styling nav .flex{
    display: none!important;
}
.paginate-styling svg{
    width: 20px !important;
}

.btn__style{
    outline: 0;
    border: none;
    background: initial;
}
.btn__style:focus{
    outline:0;
}
.thanh-toan{
    padding: 20px 30px 5px;
}
.select__address_checkout{
    width: 100%;
    height: 45px;
    outline: 0;
    background: #F6F7FB;
    border: none;
    cursor: pointer;
}
.select__method_checkout{
    width: 100%;
    height: 45px;
    outline: 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px){
    .album {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;
    }
}
